
body {
    width: 80%;
    margin: 50px auto;
    font-family: sans-serif;
    font-size: 10px;
}
/* body {
    display: block;
    margin: 8px;
} */
.contianer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
* {
    box-sizing: border-box;
}
.product {
    margin: 10px;
    padding: 20px;
    width: 23%;
    text-align: center;
    border: 1px black solid;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.images{
    height:230px;
    width: 230px;
}
.thing {
    font-size: 14px;
}